<?php
use Dockie\Blog\Block\Post;

/** @var Post $block */

$list = $block->getBlogPosts();
foreach ($list AS $item) {
    ?><div class="blogitem">
        <h3><?= $item->getTitle();?></h3>
        <p><?= $item->getShortDescription();?></p>
        <hr>
    </div><?php
}